*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Resetting font-size to 10px i.e 0.625 * 16px */
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: inherit;
}


