
*{
    margin: 0;
    padding: 0;
}
:root{
  
    /* ===========================
            Colors 
       ===========================*/

    --color-darkcyan:hsl(158, 36%, 37%);
    --color-cream:hsl(30, 38%, 92%);
    --color-darkblue:hsl(212, 21%, 14%);
    --color-darkgrayishblue: hsl(228, 12%, 48%);
    --color-white:hsl(0, 0%, 100%);

    /* ============================
            Typography 
       ============================*/

    /* Font Types*/
    --ff-Montserrat: "Montserrat", sans-serif;
    --ff-Fraunces: "Fraunces", serif;
    --ff-SourceSansPro: 'Source Sans Pro', sans-serif;

    /* Font Weights*/
    --fw-400: 400;
    --fw-700: 700;

    /* Respoonsive Font Sizes*/
    --fs-1: clamp(0.56rem, 0.5rem + 0.16vw, 0.74rem);
    --fs-2: clamp(0.62rem, 0.56rem + 0.18vw, 0.83rem);
    --fs-3: clamp(0.7rem, 0.64rem + 0.21vw, 0.93rem);
    --fs-4: clamp(0.78rem, 0.72rem + 0.23vw, 1.06rem);
    --fs-5: clamp(0.9rem, 0.8rem + 0.26vw, 1.18rem);
    --fs-6: clamp(0.99rem, 0.91rem + 0.3vw, 1.33rem);
    --fs-7: clamp(1.12rem, 1.02rem + 0.33vw, 1.5rem);
    --fs-8: clamp(1.26rem, 1.15rem + 0.37vw, 1.68rem);
    --fs-9: clamp(1.42rem, 1.3rem + 0.42vw, 1.9rem);
    --fs-10: clamp(1.6rem, 1.46rem + 0.47vw, 2.13rem);
    --fs-11: clamp(1.81rem, 1.63rem + 0.53vw, 2.4rem);
    --fs-12: clamp(2.03rem, 1.84rem + 0.6vw, 2.7rem);
    --fs-13: clamp(2.27rem, 2.06rem + 0.67vw, 3.04rem);
    --fs-14: clamp(2.56rem, 2.32rem + 0.76vw, 3.42rem);
    --fs-15: clamp(2.88rem, 2.62rem + 0.85vw, 3.84rem);
    --fs-16: clamp(3.25rem, 2.94rem + 0.96vw, 4.32rem);

      /* ===========================
                 Radii 
         ===========================*/

    --radius-1: 0.5rem /* 8px */;
    --radius-2: 0.625rem /* 10px */;
    --radius-3: 0.75rem /* 12px */ ;
    --radius-4: 0.875rem /* 14px */ ;

}
.body{
    font-family: var(--ff-Montserrat);
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-cream);
    height: 110vh;
}
.product-preview-grid{
    position: absolute;
    width: 92%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1.4fr;
    grid-template-areas: 
    ' image'
    'article';
    background-color: var(--color-white);
    border-radius: var( --radius-3);
}
#product-image{
    background: var(--color-cream);
    grid-area: image;
}
img{
    border-radius: 0.75rem 0.75rem 0 0;
}
#product-article{
    padding: 1.5rem 2rem 2.5rem 2.85rem;
    text-align: left;
    grid-area: article;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
.article-content-main{
    background: transparent;
}
.perfume{
    color: var(--color-darkgrayishblue);
    text-transform: uppercase;
    padding-top: 1.25rem;
    font-size: var(--fs-08);
    font-weight: var(--fw-400);
    letter-spacing: 0.5rem;
    font-family: var(--ff-SourceSansPro);
}
.monthly{
    color: black;
    font-size: var(--fs-15);
    line-height: 1.0;
    letter-spacing: 0.125rem;
    padding-bottom: 1.5rem;
}
.full{
    color:var(--color-darkgrayishblue);
    font-size: var(--fs-08);
    font-weight: var(--fw-400);
    line-height: 1.3; 
    letter-spacing: 0.095rem;
    padding-bottom: 3rem;
}
.price{
    background: transparent;
    display: inline-block;
}
.current-price{
    color:var(--color-darkcyan);
    background: transparent;
    display: inline-block;
    vertical-align: -5px;
    font-size: var(--fs-16);
    font-family: var(--ff-Fraunces);
    font-weight: var(--fw-700); 
}
.old-price{
    color: var(--color-darkgrayishblue);
    opacity: 1.3;
    padding-left: 2rem;
    font-size: var(--fs-04);
    font-family: var(--ff-Fraunces);
    font-weight: var(--fw-400); 
}
button{
    border-radius: var(--radius-2);
    background: var(--color-darkcyan);
    width: 97%;
    padding: 1.25rem 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0.95;
}
button:hover{
    background: var(--color-darkcyan);
    opacity: 1.25;
}
.add{
    color: var(--color-white);
    font-size: var(--fs-9);
    font-weight: var(--fw-700); 
}
.icon{
    width: 3rem;
    height: 1.8rem;
    padding-right: 1rem;
    font-size: var(--fs-8);
    font-weight: var(--fw-700); 
    }

@media only screen and (min-width:376px){
    .container{
        flex-direction: row;
        height: 100vh;
       }
    .product-preview-grid{
        margin: auto;
        max-width: 52rem;
        height: 52vh;
        grid-template-columns: repeat(2, 0.8fr);
        grid-template-areas: 
        ' image article';
        overflow-x: hidden;
        overflow-y: hidden;
        }
        img{
            border-radius: 0;
        }
    #product-article{
        padding: 0.25rem 2rem 4rem 2.85rem;
    }
    .article-content-main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .perfume{
        font-size: var(--fs-03);
        letter-spacing: 0.35rem;
    
    }
    .monthly{
        font-size: var(--fs-12);
        padding-bottom: 2rem;
    }
    .full{
         padding-bottom: 2rem;
    }
    .current-price{
        font-size: var(--fs-12);
    }
    .old-price{
        font-size: var(--fs-01);
    }
    button{
        width: 96%;
    }
    .add{
        font-size: var(--fs-6);
    }
    .icon{
        width: 2.4rem;
        height: 1.5rem;
        padding-right: 0.75rem;
        font-size: var(--fs-6);
        }
}
